.btn {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  aspect-ratio: 1;
  background-color: rgba(255, 255, 255, 0.28);
  border-radius: 50%;
  border: none;
  padding: 5px;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: .5rem;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  transition: 100ms ease;
}

.btn.active {
  background-color: hsl(246, 76%, 71%);
  color: white;
}

.btn.inactive {
  opacity: .3;
  scale: 0.9;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  background-color: hsla(237, 100%, 86%, 0.498);
  color: white;
  scale: 1.1;
}